{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include "Components/_navbar.html.twig" %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
    <div class="main-background"></div>
    <h1 class='titre'>Give me Gifts !</h1>
    <div class="container-card">
        <div class="card">
            <img class="image-card" src="/assets/images/list_share_bg.jpg" alt="cadeau-bleu">
            <h3>Gift Me Gifts</h3>
            <p class="paragraph">Vous pouvez créer vos propres listes de cadeaux et les partager à vos proches, ils
                peuvent parcourir votre liste et vous offrir ce qu'ils veulent.</p>
            {% if user is not null %}
                <p class="welcome-user">Bienvenue {{ user['firstname'] }}</p>
            {% else %}
                <a class="button" href="/login">Se connecter</a>
            {% endif %}
        </div>
        <div class="card">
            <img class="image-card" src="/assets/images/pexels-laura.jpg" alt="cadeau-beige">
            <h3>Comment ça fonctionne?</h3>
            <p class="paragraph">Lassé d'ouvrir des cadeaux nuls ?<br>Vos amis sont inutiles quand vient le temps de vous
                satisfaire ?
                <br>Aidez-les à vous faire plaisir avec Give me Gifts!</p>

            {% if user is not null %}
                <a class="button" href="/list/user/lists">Mes listes</a>
            {% else %}
                <a class="button" href="/list">Exemples</a>
            {% endif %}
        </div>
        <div class="card">
            <img class="image-card" src="/assets/images/gift-min.jpg" alt="youtube-image">
            <h3>Youtube</h3>
            <p class="paragraph">Quel est l'intérêt ?<br>Vous pouvez retrouver une vidéo explicative du site Give
                me Gifts et aider vos amis à vous trouver le cadeau idéal</p>
            <a class="button" href="/assets/video/Give me gifts vf.mp4">Regarder</a>
        </div>
    </div>
{% endblock %}
