.main-background {
    background-image: url("/assets/images/add_list.jpg");
    background-size: cover;
    position: fixed;
}

.hidden {
    display: none;
}


/*MOBILE FIRST*/

.list-container {
    background-color: var(--background-color);
    border-radius: 15px;
    width: calc(100% - 5rem);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 1rem 0 1rem;
    opacity: 80%;
}

.list-title {
    color: var(--font-color);
    font-weight: bold;
    font-size: 30px;
}

.list-date {
    color: var(--font-color);
    text-align: center;
    font-size: 1.2rem;
}

.list-description {
    color: var(--font-color);
}

.add-form>h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

#submit {
    background-color: var(--btn-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin: 1rem 5rem 1rem 5rem;
    width: 13rem;
    border-radius: 11px;
    box-shadow: 2px 2px 4px black;
    opacity: 80%;
}

#submit:hover {
    background-color: var(--background-color);
    color: var(--font-color);
}

.add-form {
    margin: auto;
    color: var(--primary-color);
    font-weight: 400;
}

.list-sort {
    grid-area: sortArticle;
}

.article-container {
    grid-area: articleContainer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-width: 100%;
    margin-top: 1rem;
}

.article {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "articlePicture articleTitle articlePrice" "articlePicture articleDescription articleDescription" "articlePicture seeMore seeMore" "giftButton giftButton giftButton";
    width: 100%;
    height: 14rem;
    border-radius: 10px;
    margin: 0 1rem 2rem 1rem;
    background-color: var(--background-color);
}

.article-reserved {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "articlePicture articleTitle articlePrice" "articlePicture articleDescription articleDescription" "articlePicture seeMore seeMore" "giftButton giftButton giftButton";
    width: 100%;
    height: 14rem;
    border-radius: 10px;
    margin: 0 1rem 2rem 1rem;
    background-color: var(--background-color);
}

.article-reserved {
    filter: grayscale(80%);
}

.article-img {
    grid-area: articlePicture;
    max-height: calc(100% - 0.4rem);
    max-width: calc(100% - 0.4rem);
    align-self: center;
    margin: 0.2rem;
}

.article-title {
    grid-area: articleTitle;
    font-size: 20px;
    margin: 0;
    padding: 0.2rem 0 0 0.2rem;
    color: var(--font-color);
}

.article-price {
    grid-area: articlePrice;
    font-size: 20px;
    margin: 0;
    justify-self: end;
    padding: 0.2rem 0.2rem 0 0;
    color: var(--font-color);
}

.article-description {
    grid-area: articleDescription;
    font-size: 20px;
    margin: 0;
    padding: 0.2rem 0.5rem 0 0.5rem;
    height: 100%;
    color: var(--font-color);
}

div.article div a {
    background: #007EA7;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 4rem;
    text-align: center;
}

div.article-reserved div a {
    background: #007EA7;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 4rem;
    text-align: center;
}

.article-link {
    grid-area: giftButton;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    border-radius: 11px;
    font-size: 25px;
    text-align: center;
    padding: 0.5rem;
}

.seeMore-button {
    grid-area: seeMore;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 0.2rem 0;
    text-decoration: none;
}

.seeMore-button>p {
    font-size: 1rem;
    text-align: center;
    background-color: var(--btn-color);
    border-radius: 10px;
    width: 50%;
    margin: 0;
    padding: 0.2rem;
    align-self: center;
    color: var(--primary-color);
}

.erase-button {
    grid-area: giftButton;
    margin: 0;
    background-color: var(--event-color-1);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.erase-button>p {
    margin: 0;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--font-color);
}

.add-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

#list_id {
    width: 10rem;
    height: 1.5rem;
    border-radius: 11px;
    text-align: center;
    background-color: var(--background-color);
}

.list_id {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    text-align: center;
}

#giftName {
    width: calc(100% - 10%);
    font-size: 20px;
    height: 2.5rem;
    border-radius: 11px;
    text-align: center;
    background-color: var(--background-color);
    opacity: 80%;
}

.giftName {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

#price {
    width: calc(100% - 10%);
    font-size: 20px;
    height: 2.5rem;
    border-radius: 11px;
    text-align: center;
    background-color: var(--background-color);
    opacity: 80%;
}

.price {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

#imgLink {
    width: calc(100% - 10%);
    font-size: 20px;
    height: 2.5rem;
    border-radius: 11px;
    background-color: var(--background-color);
    text-align: center;
    opacity: 80%;
}

.imgLink {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

#giftLink {
    width: calc(100% - 10%);
    font-size: 20px;
    height: 2.5rem;
    border-radius: 11px;
    background-color: var(--background-color);
    text-align: center;
    opacity: 80%;
}

.giftLink {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

#description {
    width: calc(100% - 10%);
    font-size: 20px;
    height: 7rem;
    border-radius: 11px;
    padding: 0.5rem;
    background-color: var(--background-color);
    text-align: center;
    opacity: 80%;
}

.description {
    color: var(--primary-color);
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

.add_Article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--btn-color);
    color: var(--primary-color);
    opacity: 80%;
    width: 20rem;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
}

.add_Article:hover {
    background-color: var(--background-color);
    color: var(--font-color);
}

.add {
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    padding: 1rem;
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;
}

.add:hover {
    color: var(--primary-color);
    color: var(--font-color);
}

.btn_add {
    width: 2rem;
}

.form {
    display: none;
    -webkit-animation: scale-up-ver-top 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.2);
        transform: scaleY(0.2);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.2);
        transform: scaleY(0.2);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

.addArticle-visible {
    display: block;
}

.share_link-container {
    margin-bottom: 2rem;
    opacity: 80%;
}

.share_link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    background-color: var(--card-color);
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 11px;
    box-shadow: 2px 2px 4px black;
}


/*END OF MOBILE FIRST*/


/*DESKTOP FIRST*/

@media only screen and (min-width: 900px) {
    .share_link-container {
        display: flex;
        position: absolute;
        right: 1rem;
    }
    .share_link:hover {
        background-color: var(--background-color);
        color: var(--font-color);
    }
    .share_link {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 2rem;
        background-color: var(--card-color);
        padding: 1rem;
        border-radius: 11px;
    }
    .list-container {
        width: 50%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .add_Article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--btn-color);
        opacity: 80%;
        width: 20rem;
        margin: auto;
        border-radius: 15px;
        margin-bottom: 2rem;
    }
    .add_Article:hover {
        background-color: var(--background-color);
        color: var(--font-color);
    }
    .add {
        background-color: transparent;
        border: transparent;
        font-size: 30px;
        padding: 1rem;
        color: var(--primary-color);
        cursor: pointer;
        width: 100%;
    }
    .add:hover {
        color: var(--primary-color);
        color: var(--font-color);
    }
    .btn_add {
        width: 2rem;
    }
    .form {
        display: none;
        -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-ver-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @-webkit-keyframes scale-up-ver-top {
        0% {
            -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
    }
    @keyframes scale-up-ver-top {
        0% {
            -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
    }
    .addArticle-visible {
        display: block;
    }
    .page {
        display: flex;
        flex-direction: row;
    }
    .main-background {
        background-image: url("/assets/images/add_list.jpg");
        background-size: cover;
        position: fixed
    }
    .list-sort {
        grid-area: sortArticle;
    }
    .article-container {
        grid-area: articleContainer;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        min-width: 100%;
    }
    .article {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 0.5fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas: "articlePicture articleTitle articlePrice" "articlePicture articleDescription articleDescription" "articlePicture seeMore seeMore" "giftButton giftButton giftButton";
        width: 30rem;
        height: 15rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        background-color: var(--background-color);
    }
    .article-reserved {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 0.5fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas: "articlePicture articleTitle articlePrice" "articlePicture articleDescription articleDescription" "articlePicture seeMore seeMore" "giftButton giftButton giftButton";
        width: 30rem;
        height: 15rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        background-color: var(--background-color);
    }
    .article-img {
        grid-area: articlePicture;
        max-height: calc(100% - 0.4rem);
        max-width: calc(100% - 0.4rem);
        align-self: center;
        margin: 0.3rem;
    }
    .article-title {
        grid-area: articleTitle;
        font-size: 20px;
        margin: 0;
    }
    .article-price {
        grid-area: articlePrice;
        font-size: 20px;
        margin: 0;
        justify-self: end;
    }
    .article-description {
        grid-area: articleDescription;
        font-size: 20px;
        margin: 0.3rem;
        padding: 0.2rem 0.5rem 0 0.5rem;
        height: 100%;
    }
    .list-share-container {
        grid-template-rows: 2rem 3rem repeat(9, auto) 2rem;
    }
    .add-form {
        margin-top: 2rem;
    }
    .article-link {
        grid-area: giftButton;
        text-decoration: none;
        color: var(--primary-color);
        background-color: var(--btn-color);
        border-radius: 11px;
        font-size: 25px;
        text-align: center;
        margin: 0;
    }
    #giftName {
        width: 30rem;
        font-size: 20px;
        height: 2.5rem;
        border-radius: 11px;
        text-align: center;
        background-color: var(--background-color);
        opacity: 80%;
    }
    .giftName {
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    #price {
        width: 30rem;
        font-size: 20px;
        height: 2.5rem;
        border-radius: 11px;
        text-align: center;
        background-color: var(--background-color);
        opacity: 80%;
    }
    .price {
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    #imgLink {
        width: 30rem;
        font-size: 20px;
        height: 2.5rem;
        border-radius: 11px;
        background-color: var(--background-color);
        text-align: center;
        opacity: 80%;
    }
    .imgLink {
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    #giftLink {
        width: 30rem;
        font-size: 20px;
        height: 2.5rem;
        border-radius: 11px;
        background-color: var(--background-color);
        text-align: center;
        opacity: 80%;
    }
    .giftLink {
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    #description {
        width: 30rem;
        font-size: 20px;
        height: 7rem;
        border-radius: 11px;
        padding: 1rem;
        background-color: var(--background-color);
        text-align: center;
        opacity: 80%;
    }
    .description {
        color: var(--primary-color);
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    /*END OF DESKTOP FIRST*/
}